body, h1 {
  margin: 0;
  padding: 0;
  font-family: "GOTHAMPRO";
}

a{
  text-decoration: none;
  color: white;
}

.font{
  &--bold{
    font-weight: bold;
  }
}

.transition{
  transition: all ease-in-out 0.4s;
}

.hide{
  opacity: 0;
}

.color{
  &--red{
    color: #d03535;
  }

  &--green{
    color: #23a783;
  }

  &--blue{
    color: #625ce8;
  }
}

text{
  &--uppercase{
    text-transform: uppercase;
  }
}