body, h1 {
  margin: 0;
  padding: 0;
  font-family: "GOTHAMPRO";
}

.font{
  &--bold{
    font-weight: bold;
  }
}

.transition{
  transition: all ease-in-out 0.4s;
}

.hide{
  opacity: 0;
}

.color{
  &--red{
    color: #d03535;;
  }
}

text{
  &--uppercase{
    text-transform: uppercase;
  }
}