.theme{
  &--black{
    .menu__logo{
      svg{
        fill: #000000;
      }
    }
  }

  &--red{
    .feedback{
      &__title{
        color: #d03535;
      }

      &__button{
        &--active{
          background-color: #d03535;
        }
      }
    }

    .social-links{
      svg{
        &:hover{
          fill: #d03535;
        }
      }
    }

    .menu__logo{
      svg{
        fill:  #d03535;
      }
    }
  }

  &--blue{
    .feedback{
      &__title{
        color: #625ce8;
      }

      &__button{
        &--active{
          background-color: #625ce8;
        }
      }
    }

    .social-links{
      svg{
        &:hover{
          fill: #625ce8;
        }
      }
    }

    .menu__logo{
      svg{
        fill:  #625ce8;
      }
    }
  }

  &--sea{
    .menu__logo{
      svg{
        fill:  #429eeb;
      }
    }
  }

  &--white{
    .menu__logo{
      svg{
        fill: #ffffff;
      }
    }
  }

  &--yellow{
    .feedback{
      &__title{
        color: #cb9950
      }

      &__button{
        &--active{
          background-color: #cb9950
        }
      }
    }

    .social-links{
      svg{
        &:hover{
          fill: #cb9950
        }
      }
    }

    .menu__logo{
      svg{
        fill: #cb9950
      }
    }
  }

  &--green{
    .feedback{
      &__title{
        color: #23a783;
      }

      &__button{
        &--active{
          background-color: #23a783;
        }
      }
    }

    .social-links{
      svg{
        &:hover{
          fill: #23a783;
        }
      }
    }

    .menu__logo{
      svg{
        fill: #23a783;
      }
    }
  }

  &--white{
    .feedback{
      &__title{
        color: #ffffff;
      }

      &__button{
        &--active{
          background-color: #ffffff;
        }
      }
    }

    .social-links{
      svg{
        &:hover{
          fill: #ffffff;
        }
      }
    }

    .menu__logo{
      svg{
        fill: #ffffff;
      }
    }
  }

  &--purple{
    .feedback{
      &__title{
        color: #b016dc;
      }

      &__button{
        &--active{
          background-color: #b016dc;
        }
      }
    }

    .menu__logo{
      svg{
        fill: #b016dc;
      }
    }
  }
}