.quiz{
  transition: all ease-in-out 0.5s;
  max-width: 670px;
  position: relative;
  margin: auto;

  &--col2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  &--col1{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
  }

  &__step{
    transition: all ease-in-out 0.5s;
    transform: translateY(-10%);
    opacity: 0;

    &--hide{
      opacity: 0 !important;
      margin-top: -50%;
    }

    &--show{
      opacity: 1;
      transform: translateY(0%);

      .quiz__item{
        opacity: 1;
        transition: ease-in-out all 0.5s;
        transform: translateY(0%);

        &:nth-child(2){
          transition-delay: 0.1s;
        }

        &:nth-child(3){
          transition-delay: 0.2s;
        }

        &:nth-child(4){
          transition-delay: 0.3s;
        }

        &:nth-child(5){
          transition-delay: 0.4s;
        }
      }
    }

    &--delay{
      &--disable{
        .quiz__item{
          transition-delay: 0s !important;
        }
      }
    }
  }

  &__title{
    font-size: 4vh;
    margin: auto;
  }

  &__description{
    font-size: 2vh;
    margin: auto;
    margin-top: 40px;
    max-width: 500px;
  }

  &__item-list{
    width: 80%;
    margin: auto;
  }

  &__item{
    display: none;
  }

  &__answers-wrapper{
    margin-top: 15px;
  }

  &__wrapper{
    max-width: 800px;
  }

  &__answer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d03535;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    border-radius: 8px;
    padding: 8px;
    font-size: 12px;
    height: 40px;
    cursor: pointer;
    max-width: 400px;

    &:hover{
      background-color: rgba(255, 255, 255, 0.07);
      box-shadow: 0px 0px 16px 4px rgb(208, 53, 53);
    }

    &--select{
      background-color: #d03535 !important;
      font-weight: 800;
    }
  }

  &__navigation{
    display: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    background-color: #d03535;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &--next{
      right: -35px;
    }

    &--prev{
      left: -35px;
    }

    &:hover{
      transform: scale(1.2) translateY(-50%);
    }

    &--disable{
      background-color: #6f6f6f;

      &:hover{
        transform: translateY(-50%);
      }
    }
  }

  &__navigation-wrapper{
    display: none;
    right: 0;
    margin: auto;
    max-width: 780px;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    z-index: -1;
  }

  &__input{
    background-color: initial;
    border: 1px solid #d03535;
    height: 35px;
    color: white;
    display: flex;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    width: 300px;
  }

  &__button{
    transition: all ease-in-out 0.2s;
    margin: auto;
    margin-top: 40px;
    width: 60px;
    height: 60px;
    background-color: #d03535;
    border-radius: 50%;
    line-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;

    &:hover{
      transform: scale(1.2);
    }

    &--background{
      &--blue{
        background-color: #625ce8;
      }

      &--yellow{
        background-color: #cb9950;
      }
    }

    &--call{
      margin-top: 15px;
      width: 45px;
      height: 45px;

      img{
        width: 20px;
      }
    }
  }

  &__call{
    display: none;
    transition: all ease-in-out 0.5s;
    font-size: 15px;
  }

  &__input-wrapper{
    position: relative;
  }

  &__form{
    display: none;
    transition: all ease-in-out 0.5s;

    &--show{
      opacity: 1;
      transform: translateY(0%);

      & .quiz__input-wrapper{
        opacity: 1;
        transform: translateY(0);

        &:nth-child(2){
          transition-delay: 0s;
        }


        &:nth-child(3){
          transition-delay: 0.1s;
        }


        &:nth-child(1){

        }
      }
    }
  }

  &__label{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1vh;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.73);
    z-index: -1;
  }

  &__input:focus{
    background-color: rgba(255, 255, 255, 0.03);

    & + label{
      display: none;
    }
  }

  &__input:valid{
    & + label{
      display: none;
    }
  }

  &__final{
    transition: all ease-in-out 0.5s;
    display: none;
  }

  &--blue{
    .quiz{
      &__button{
        background-color: #625ce8;
      }

      &__answer{
        border-color: #625ce8;

        &:hover{
          box-shadow: 0px 0px 19px 4px rgb(98, 92, 232);
        }

        &--select{
          background-color: #625ce8 !important;
        }
      }

      &__input{
        border-color: #625ce8;
      }

      &__navigation{
        background-color: #625ce8;
      }
    }
  }

  &--yellow{
    .quiz{
      &__button{
        background-color: #cb9950;
      }

      &__answer{
        border-color: #cb9950;

        &:hover{
          box-shadow: 0px 0px 19px 4px rgb(203, 153, 80);
        }

        &--select{
          background-color: #cb9950 !important;
        }
      }

      &__input{
        border-color: #cb9950;
      }

      &__navigation{
        background-color: #cb9950;
      }
    }
  }
  
  @media (max-width: 1200px) {
    .quiz__description{
      max-width: 70vw;
      font-size: 14px;
      margin-top: 15px;
      max-width: 250px;
    }

    &__title{
      font-size: 18px;
    }

    &__button{
      margin-top: 20px;
      width: 50px;
      height: 50px;
      font-size: 18px;

      img{
        width: 20px;
      }
    }

    &__item-list.vertical{
      margin-top: 20px;
      display: grid;
      grid-template-columns: 1fr;
      gap: 15px;
      justify-content: space-between;

      .quiz__item{
        width: 100%;
        box-sizing: border-box;
      }
    }

    &__input-wrapper{
      margin-top: 15px;
    }

    &__input{
      width: 200px;
      min-width: initial;
      font-size: 14px;
      height: 40px;
      max-width: 250px;

      &+label{
        font-size: 12px;
      }
    }
  }
  
  @media (max-width: 400px) {
    &--col2{
      grid-template-columns: 1fr;
    }
  }
}